/* main.css */
.container{
    width: 100%;
    height: 100vh;
    background: #404040;
    display: flex;           /* 부모를 flex로 */
    flex-direction: column;
}

.content {
    display: flex;           /* 좌우 배치 */
    gap: 20px;               /* 테이블 사이 간격 */
    flex: 1;                 /* 남은 공간 채우기 */
    padding: 20px;
    flex-direction: column; /* 세로로 쌓음 */
}

.card {
    background-color: #2e2e2e;  /* 연한 배경 */
    border-radius: 12px;        /* 둥근 모서리 */
    padding: 16px;              /* 내부 여백 */
}

.tables {
    display: flex;
    gap: 20px;
}

.recordsec {
    flex: 1; /* 왼쪽 영역 */
}

.data-table-container {
    flex: 2; /* 오른쪽 영역 */
}

.report-container {
    display: flex;
    flex-direction: column;
    flex: 1;  /* 남은 영역 차지 */
    padding: 10px;
    color: white;
}

.report {
    width: 100%;
    flex: 1;
    border-radius: 10px;
    background-color: #f3f4f6;
    resize: none;
}

.report-submit {
    width: 100px;
    margin-top: 10px;
}

.data-table {
    width: 100%;
    border-collapse: collapse;
}

.data-table thead {
    background-color: #557531;
    color: white;
}

.data-table th,
.data-table td {
    border: 3px solid  #2e2e2e;
    padding: 4px;
    text-align: left;
}

.data-table tbody tr:nth-child(odd) {
    background-color: #f3f4f6; /* 홀수 행 연한 회색 */
}

.data-table tbody tr:nth-child(even) {
    background-color: white; /* 짝수 행 흰색 */
}

.data-table tbody tr:hover {
    background-color: #DFE5CB;
}